body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 30px;
}

.input-area {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}